<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125152910647-damq6fdik0hgo8q62a9snqsddmp38mgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125152910647-damq6fdik0hgo8q62a9snqsddmp38mgk</string>
	<key>API_KEY</key>
	<string>AIzaSyAnjjCigjMYsdejtri0OzRdgljg_V_PJXE</string>
	<key>GCM_SENDER_ID</key>
	<string>125152910647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maspes.admin</string>
	<key>PROJECT_ID</key>
	<string>maspes-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>maspes-admin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125152910647:ios:bda876aa95c24c6ff88eb2</string>
</dict>
</plist>